<div class="container">
  <form #formView="ngForm" (ngSubmit)="onSubmit()">
    <div class="label">Enter Email</div>
    <div class="field">
      <input [ngClass]="{ 'invalid': emailControl.invalid && emailControl.touched }" 
      name="email" type="email" pattern=".+@.+\..+"
      [(ngModel)]="email" required 
      #emailControl="ngModel"/>
    </div>
    <ng-container *ngIf="emailControl.errors && emailControl.touched">
      <div class="help is-danger" *ngIf="emailControl.errors['required']">
        Email is required
      </div>
      <div class="help is-danger" *ngIf="emailControl.errors['pattern'] && emailControl.dirty">
        Email format not corret
      </div>
    </ng-container>
    <button class="button is-primary" [disabled]="formView.invalid">Submit</button>
  </form> 
  
  <hr/>
  
  <div> Form Valid ? {{ formView.valid }} </div>
  <div>Form Values : {{ formView.value | json}} </div>
  <div>Email validation Eroors: {{ formView.controls['email'].errors | json}} </div>
</div>
