
.header:empty{
    display: none;
}

.ui.medium.image:empty{
    display: none;
}

.ui.header:empty{
    display: none;
}

.description:empty{
    display: none;
}

.actions:empty{
    display: none;
}

.actions-default{
    display: none;
}

.actions:empty + .actions-default {
    display: block;
}
.ui.dimmer.active{  
    top: 0px;
	position: fixed;
	bottom: 0px;
	left: 0px ;
	right: 0px;
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
}